<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar {{tecnico.nome}}</title>
</head>
<body>
    <form action="{% url 'update' tecnico.id%}" method="POST">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{tecnico.nome}}">

        <label for="matricula">Matrícula: </label>
        <input type="text" name="matricula" value="{{tecnico.matricula}}">

        <button type="submit">Atualizar</button>
</body>
</html>