{% extends "home.html" %}
{% block title %}Técnico{% endblock %}
{% block content %}
<h1>Técnicos</h1>
<header>

</header>
<section>
  <h2>Cadastro de técnicos</h2>
  <form action="{% url 'salvar' %}" method="POST">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" name="nome">

    <label for="matricula">Matrícula:</label>
    <input type="text" name="matricula">

    <button type="submit">Enviar</button>
  </form>
</section>
<section>
  <h2>Técnicos registrados</h2>
  <ul>
    {% for tecnico in tecnicos %}
    <li>
      {{tecnico.nome}} - {{tecnico.matricula}}
      <a href="{% url 'editar' tecnico.id %}">editar</a>
      <a href="{% url 'deletar' tecnico.id %}">deletar</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}