{% extends "base.html" %}
{% block title %}Equipamentos{% endblock %}
{% block content %}
<header>
  <h1>Equipamentos</h1>
</header>
<section>
  <header>
    <h2>Cadastro de equipamentos</h2>
  </header>
  <form action="{% url 'salvar_equip' %}" method="POST">
    {% csrf_token %}
    <label for="tombo">Tombo:</label>
    <input type="number" name="tombo">

    <label for="tipo">Tipo:</label>
    <input type="text" name="tipo" placeholder="Computador, monitor, impressora, etc">

    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" placeholder="Modelo, marca, specs, etc">

    <label for="setor">Setor:</label>
    <input type="text" name="setor">

    <label for="usuario">Usuario:</label>
    <input type="text" name="usuario" placeholder="Usuário principal">

    <label for="id_remoto">ID do AnyDesk:</label>
    <input type="number" name="id_remoto">

    <button type="submit">Enviar</button>
  </form>
</section>

<section>
  <h2>Equipamentos registrados</h2>
  <ul>
    {% for equipamento in equipamentos %}
    <li>
      {{equipamento.tombo}} - {{equipamento.tipo}} - {{equipamento.descricao}}
      <a href="{% url 'editar_equip' equipamento.id %}">editar</a>
      <a href="{% url 'deletar_equip' equipamento.id %}">deletar</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}