<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos</title>
</head>
<body>
    <form action="{% url 'salvar_equip' %}" method="POST">
        {% csrf_token %}
        <label for="nome">Tombo:</label>
        <input type="text" name="tombo">

        <label for="tipo">Tipo:</label>
        <input type="text" name="tipo">

        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao">

        <label for="setor">Setor:</label>
        <input type="text" name="setor">

        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario">

        <label for="id_remoto">ID do AnyDesk:</label>
        <input type="text" name="id_remoto">

        <button type="submit">Enviar</button>
    </form>

    <ul>
    {% for equipamento in equipamentos %}
        <li>
             {{equipamento.tombo}} - {{equipamento.tipo}} - {{equipamento.descricao}} 
             <a href="{% url 'update_equip' equipamento.id %}">editar</a>
             <a href="{% url 'deletar_equip' equipamento.id %}">deletar</a>
            </li>
    {% endfor %}
    </ul>
</body>
</html>